<%- include('partials/header') %> 

<div class="forms-area">
    <div class="form-group form-fields"><h1>Select List</h1></div>
    <form action="/admin-delete-quest" method="POST">
        <!-- question select -->

        <div class="form-group form-fields">
          
          <select class="form-control" name="listID" id="exampleFormControlSelect1"> <!-- add to list -->
              <option value=""> Select a List </option>
              <% if (allLists.length > 0) { %>
                  <% allLists.forEach(item=>{ %>
                      <option value="<%=item._id%>"> <%=item.listName%> </option>
                  <% }) %>
              <% } %>
  
        </select>
      </div>
  
        <div class="form-fields">
          <button type="submit" class="btn btn-danger mb-2">Select</button>
        </div>
      </form>
  </div>

<%- include('partials/footer') %> 