/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('images/front\ bg.jpg');
background-size: cover;
background-repeat: no-repeat;
/* background-color: #423F3E !important; */
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }

.card-body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 40px;
height: 35px;
margin-right: 10px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.username{
    margin-bottom: 5px;
}

.buttons-area{
  padding-top: 10px;
  text-align: center;
}

.button{
    padding: 100%;
}

.login-button{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 10px;
}

.btn-group-lg>.btn, .btn-lg{
    width: 100%;
}

hr{
    color: white !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.division-text{
    color: white;
    margin-bottom: 10px;
}